.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.nav a {
  padding: 0 3px;
  font-size: 1.2rem;
  color: var(--outer-space-crayola);
  text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  border-bottom: 2px solid var(--outer-space-crayola);
}

@media (min-width: 680px) {
  .nav ul {
    flex-direction: row;
  }
  .nav a {
    padding: 0 3px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }

  .nav a:hover,
  .nav a:active,
  .nav a.active {
    border-bottom: 2px solid white;
  }
}
