.menu {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: menu-appear 1s ease-out forwards;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.in-store {
  max-width: 90%;
  margin-left: 1rem;
}

.in-store.menu ul {
  display: flex;
  flex-flow: wrap;
}
