:root {
  --outer-space-crayola: hsla(177, 25%, 16%, 1);
  --ash-gray: hsla(97, 18%, 81%, 1);
  --misty-rose: hsla(12, 53%, 87%, 1);
  --camel: hsla(30, 40%, 63%, 1);
  --mystic: hsla(341, 61%, 59%, 1);
  --mystic-dark: hsla(341, 41%, 29%, 1);
  --dark-salmon: hsla(11, 76%, 72%, 1);
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--ash-gray);
}
